# Virtual Environment
venv/
.venv/

# CCTV Video Clips
cctv_clips/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local databases & logs
*.db
server_output.txt
pipeline_output.txt

# IDE configurations
.vscode/
*.code-workspace
